.gradle
build/
*.iml
*.ipr
*.iws
contest/
out/
# Private solutions from leetcode.com
/src/by/bogdan/leetcode/Solution531.java
/test/by/bogdan/leetcode/Solution531Test.java
/src/by/bogdan/leetcode/Solution533.java
/test/by/bogdan/leetcode/Solution533Test.java
/src/by/bogdan/leetcode/Solution536.java
/test/by/bogdan/leetcode/Solution536Test.java
